.top-bar{
    height:5px;
    background:#ca2129;
    margin-bottom: 1px;
}
.jumbotron{
    background:url(../images/waterdrop.jpg) no-repeat 60% 0;
    height:350px;
    padding: 0;
}
.navbar li:hover{
    background-color:#e7e7e7;
}
.navbar{
    margin-bottom:1px;
}
.jumbotron-content{
    color:#ffffff;
}
.jumbotron h1{
    font-size:34px;
}
.jumbotron [class*="col-"]{
    padding-top: 15px;
    padding-bottom: 15px;

    overflow:auto;
    height:350px;
    background-color: rgba(86,61,124,.15);
    border : 1px solid rgba(86,61,124,.2);
        
}